# Example .env file
# Database
ENV=dev
DB_HOST=localhost
DB_NAME=brobier_dev
DB_PORT=5432

# App database for the user credentials
POSTGRES_APP_USER=brobier-dev
POSTGRES_APP_PASSWORD=

# Postgres admin credentials for the local Docker container
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=

# Overwrite database during testing
DB_OVERWRITE=True

# JWT
JWT_ACCESS_EXPIRE_MINUTES=15
JWT_REFRESH_EXPIRE_DAYS=7
JWT_REFRESH_COOKIE_NAME=brobier_refresh

# Email
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=fake-noreply@brobier.local
SMTP_USE_TLS=false

# Login code
LOGIN_CODE_EXPIRE_MINUTES=10

# Beer Encryption Key
BEER_ENCRYPTION_KEY=
